<!--<div>
    <h3>Drop Possibles</h3>
    <div class="mb-1 ml-1" *ngFor="let card of gachaList">
        <img src="assets/cards/{{card.image}}" width="50" height="50" style="border: 1px solid black;">
        <span>Drop rate : {{card.dropRate}}%</span>
    </div>
    
</div>
<div class="mb-3">
    <button (click)="single()" class="ml-1 btn btn-primary">Single !!</button>
    <span>Nombre de singles : {{singleDone}}</span>
    <div class="d-inline-block">
        <div class="d-inline ml-1" *ngFor="let card of tirageSingle">
            <img src="assets/cards/{{card.image}}" width="50" height="50" style="border: 1px solid black;">
        </div>
    </div>
</div>
<div>
    <button (click)="multi()" class="ml-1 btn btn-primary" >Multi !!</button>
    <span>Nombre de multis : {{multiDone}}</span>
    <div class="d-inline-block">
        <div class="d-inline ml-1" *ngFor="let card of tirageMulti">
            <img src="assets/cards/{{card.image}}" width="50" height="50" style="border: 1px solid black;">
        </div>
    </div>
</div>

<div>
    <h3>Drops</h3>
    <div class="d-inline ml-1 mr-3" *ngFor="let card of gachaList">
        <img src="assets/cards/{{card.image}}" width="50" height="50" class="mr-1" style="border: 1px solid black;">
        <span>{{card.drops}}</span>
    </div>
</div>-->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 text-center">
            <h1 class="h1">click to open box</h1>
            <div class="box-wrapper">
                <div class="box" (click)="openLootbox()"> 
                    <div class="side front"></div>
                    <div class="side top"></div>
                    <div class="side left"></div>
                    <div class="side right"></div>
                    <div class="side open bottom1"></div>
                    <div class="side open bottom2"></div>
                    <div class="side open bottom3"></div>
                    <div class="side open bottom4"></div>
                    <div class="side back"></div>
                    <div class="engram-wrapper">
                    <div class="engram">
                        <div class="face front2"></div>
                        <div class="face top2"></div>
                        <div class="face left2"></div>
                        <div class="face right2"></div>
                        <div class="face bottom22"></div>
                        <div class="face back2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>